<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendEmailConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SendEmailConsole.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>bezvershuk_do</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Bezvershuk914</value>
            </setting>
            <setting name="SendFrom" serializeAs="String">
                <value>Dmytro.Bezvershuk@oranta.ua</value>
            </setting>
            <setting name="SendTo1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>yurchenkotet@gmail.com</string>
                        <string>bezyn4uk@gmail.com</string>
                        <string>mmponomarenko@gmail.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>mail.oranta.ua</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Domen" serializeAs="String">
                <value>or.nt</value>
            </setting>
            <setting name="MailSbj" serializeAs="String">
                <value>Jupiter maintenance</value>
            </setting>
        </SendEmailConsole.Properties.Settings>
    </userSettings>
</configuration>